#p1{
    color: rgb(63, 20, 220);
    text-align: justify;
    text-transform: capitalize;
}
#p2{
    color: darkgoldenrod;
    text-align: right;
    text-transform: lowercase;
    text-indent: 20px;
    line-height: 28px;
    font-style: italic;
}
#p3{
    color: darkred;
    text-transform: capitalize;
    word-spacing: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
h1{
    color: darkorange;
    text-align: center;
    text-transform: capitalize;
    text-decoration:underline;
    letter-spacing: 10px;
    font-style: italic;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: larger;
    font-weight: bold;
}